
//.ion-content{

 //   background-color: rgb(13, 18, 19);

//}

.center
{
    text-align: center;
    
}

.logo{
  margin-left: -5px;
  height: 55px;
  vertical-align: middle;
  display: inline-block;
}
.title{
  margin-left: 12px;
  color: rgb(247, 122, 19);
  display: inline-block;
  font-size: small;
  vertical-align: middle; 
}

.prof{
  --background:linear-gradient(to bottom, #F53803 0%, #F5D020 100%);
  color: black;
  text-align: center;
  

}

ion-card {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: visible;
  margin: 70px 0px 60px;
  position: relative;
  padding-top: 80px;
  height: 250px;
}

.bg-class{
  --background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
}

.gradient-class{
  --background:linear-gradient(to bottom, #F53803 0%, #F5D020 100%);
}

ion-footer{
 background-color: white;

}