<ion-header>
  <ion-toolbar class="bg-class">
      <div class="logo">
      <ion-button  shape="circle"  fill="clear" color="transparent" [routerLink]="['/tablinks/profile']">
      <img src="../../assets/img/hornetLogo2.png" alt="" class="logo">
    </ion-button>
    </div>
    <div class="title"> <p> K-tutors</p></div> 
  </ion-toolbar>
</ion-header>

<ion-content color="white">
    <ion-card class="prof">
      <div>
        <ion-button shape="star"[routerLink]="['/add-tutor']" color="light">
            new tutor form!
        </ion-button>
      </div>
      <ion-card-content class="ion-text-center">
        <h2>tutor</h2>
        <ion-text>
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-icon name="location-outline" color="medium">
            </ion-icon>
            <p>math, computer science </p>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>
  

</ion-content>
<ion-footer>
<div class="back">
<ion-button type="submit" (click)="authService.SignOut()" color="yellow" expand="block">Logout</ion-button>
</div>
</ion-footer>