.logo{
    display: flex;
    height: 60px;
    margin-left: 50px;  
    text-align: center;
  }
  .title{
    color: rgb(247, 122, 19);
    font-size: small;
    margin-left: 65.9px;
    margin-top: -20px;  
    vertical-align: middle;
  }
.bg-class{
    --background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  }

  .orangeGradient{
    --background: linear-gradient(to right, #F53803 0%, #F5D020 100%);
    color: black;
}