<ion-header [translucent] = "true">
  <ion-toolbar class="bg-class">
    <div class="logo">
      <ion-button  shape="circle"  fill="clear" color="transparent" [routerLink]="['/tablinks/profile']">
      <img src="../../assets/img/hornetLogo2.png" alt="" class="logo">
    </ion-button>
    </div>
    <div class="title"> <p> K-tutors</p></div> 
  </ion-toolbar>
</ion-header>
<ion-content color = "white" [fullscreen]="true">

  <ion-list>
    
    <ion-item *ngFor="let Tutor of TutorInfo" class="orangeGradient">
      
      <label>
        <ion-card class="text">
        <h2>
          {{Tutor.Name}}
        </h2>
        <p>Email: <strong> {{Tutor.Email}}</strong> </p>
        <p>Class Year: <strong> {{Tutor.Year}}</strong> </p>
        <p>Subjects: <strong> {{Tutor.Subjects}}</strong> </p>
        </ion-card>
      </label>
      
    </ion-item>
    
  </ion-list>
  

</ion-content>